{% extends "layout.html" %}

{% block content %}
    <br>
    <div class="content-section">
        <form method="POST" action="">
            <!-- crsf token -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">One-Time Payment Calculator</legend>
                <div class="form-group">
                    {{ form.financialGoal.label(class="form-control-label") }}
                    {% if form.financialGoal.errors %}
                        {{ form.financialGoal(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.finacialGoal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.financialGoal(class="form-control form-control-label") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.invested.label(class="form-control-label") }}
                    {% if form.invested.errors %}
                        {{ form.invested(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.invested.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                        {{ form.invested(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.annualRate.label(class="form-control-label") }}
                    {% if form.annualRate.errors %}
                        {{ form.annualRate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.annualRate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                        {{ form.annualRate(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    <label>Compound Frequency</label>
                    <select name="freq" id='freq'>
                    {% for freq in form.compoundFreq %}
                        <option value="{{ freq }}">{{ freq.label }}</option>
                    {% endfor %}
                    </select>
                </div>
                <br>
                <div class="form-group">
                    {{ form.oneTimeInvestment.label(class="form-control-label") }}
                    {% if form.oneTimeInvestment.errors %}
                        {{ form.oneTimeInvestment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.oneTimeInvestment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                        {{ form.oneTimeInvestment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.continuousInvestment.label(class="form-control-label") }}
                    {% if form.continuousInvestment.errors %}
                        {{ form.continuousInvestment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.continuousInvestment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                        {{ form.continuousInvestment(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}