{% extends "layout.html" %}

{% block css %}
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/calculator.css') }}">
{% endblock css %}

{% block content %}
<br>
<div class="row">
    <div class="content-section column">
        <form method="POST" action="">
            <!-- crsf token -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Long Term Difference Payment Calculator</legend>
                <div class="form-group">
                    <!-- form.test.label form.test()in jinja expression brackets -->
                    {{ form.financialGoal.label(class="form-control-label") }}
                    {% if form.financialGoal.errors %}
                        {{ form.financialGoal(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.finacialGoal.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <br>${{ form.financialGoal() }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.invested.label(class="form-control-label") }}
                    {% if form.invested.errors %}
                        {{ form.invested(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.invested.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                        <br> ${{ form.invested() }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.annualRate.label(class="form-control-label") }}
                    {% if form.annualRate.errors %}
                        {{ form.annualRate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.annualRate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                    <!-- <input type="number" class="form-control form-control-lg" value="7" step="0.01" max="100"> -->
                        {{ form.annualRate(type="number", step="0.01", class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{form.compoundFreq.label}} {{form.compoundFreq()}}
                </div>
                <br>
                <div class="form-group">
                    {{ form.oneTimeInvestment.label(class="form-control-label") }}
                    {% if form.oneTimeInvestment.errors %}
                        {{ form.oneTimeInvestment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.oneTimeInvestment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                       <br>$ {{ form.oneTimeInvestment() }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.continuousInvestment.label(class="form-control-label") }}
                    {% if form.continuousInvestment.errors %}
                        {{ form.continuousInvestment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.continuousInvestment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else %}
                    <br>$ {{ form.continuousInvestment() }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{form.investmentFreq.label}} {{form.investmentFreq()}}
                </div>
                <br>
            </fieldset>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form> 
    </div>
    <div class="results column">
        <div id="title">
            <h1>Change in Retirement Date</h1>
        </div>
        
        <div class="fi_detail">
            <div class="user_specs row">
                <div class="col">
                    <h2>Goal: <span>${{ goal }}</span></h2>
                </div>
                <div class="col">
                    <h2>Principal: <span>${{ principal }}</span></h2>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <h2>Annual Rate: <span>{{ annualRate }}%</span></h2>
                </div>
                <div class="col">
                    <h2>Compound Frequency: <span>{{ nFreqLabel }}</span></h2>
                </div>
            </div>
            <br>
        <h3>Original Timeline(Time to FI if you stopped saving for FI): <br><span>{{ originalTimelineStr }}</span></h3>
        <br>
        {% if differenceInTime != None: %}
            <h3>Time to FI with: </h3>
            {% if oneTimeSaving != None: %}
                <h4>A one-time payment of <span>${{ oneTimeSaving }}</span></h4>
            {% endif %}
            {% if contSaving != None: %}
                <h4>A continuous payment of <span>${{ contSaving }} {{ investFreqLabel }}</span></h4>
            {% endif %}
            <br>
            <h3>After Timeline: <br><span>{{ postSavingsTimelineStr }}</span></h3>
            <br>
            <h3>Time Saved: <br><span>{{ differenceInTime }}</span></h3>
        {% endif %}
        </div>
    </div>
</div>
{% endblock content %}